<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="{{url_for('static',filename='hello.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='mystyle.css')}}">
</head>
<body onload="myFunction()">
  <div id="time"></div>
  <h1><div id="ttl">{{title}}</div></h1>
  <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
  </ul>
</body>
</html>